/*----------------------FOOTER--------------------------*/

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background;

  @media screen and (min-width: $desktop) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.content {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-info {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: $desktop) {
    .element + .element {
      margin-top: 71px;
      margin-left: 69px;
    }
  }
}

/* Footer-contacts */
.footer-contacts {
  margin-bottom: 60px;

  text-align: center;

  @media screen and (min-width: $desktop) {
    margin-top: 60px;

    text-align: initial;
  }
}

address {
  margin-bottom: 8px;
  font-family: $first-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $white-color;

  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.mail {
  margin-bottom: 8px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 9px;
  }
}

.contacts .link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: $social-networks-color;

  @media screen and (min-width: $desktop) {
    color: $white-color;
  }
}

/* Join-in */
.join-in {
  margin-bottom: 60px;

  @media screen and (min-width: $desktop) {
    margin-bottom: initial;
  }
}

.join-in-title {
  @extend %global-titles;
  text-align: center;

  @media screen and (min-width: $desktop) {
    text-align: initial;
  }
}

.social-media {
  display: flex;
  justify-content: center;

  @media screen and (min-width: $desktop) {
    justify-content: initial;
  }
}

.social-media .item + .item {
  margin-left: 10px;
}

.social-media .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  transition: background-color $time-delay $time-fuction;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

/* Subscribe */
.subscribe-title {
  @extend %global-titles;

  display: flex;
  justify-content: center;
  white-space: nowrap;

  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.form-subscribe {
  width: 100px;
  margin: 0 auto;

  @media screen and (min-width: $desktop) {
    width: 570px;
    margin: 0;
  }
}

.subscribe-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
  }

  .item + .item {
    margin-top: 0;

    @media screen and (min-width: $desktop) {
      margin-left: 12px;
    }
  }
}

.subscribe-items .footer-email {
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  width: 100%;
  min-width: 400px;
  min-height: 50px;

  font-size: 16px;
  line-height: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  color: $white-color;

  @media screen and (min-width: $mobile) {
    min-width: 450px;
  }

  @media screen and (min-width: $desktop) {
    margin: 0;

    min-width: 358px;
  }
}

/* Footer-button */
.footer-button {
  @extend %buttons;

  position: relative;

  display: flex;
  align-items: center;

  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;

  text-decoration: none;
}

.icon-send {
  position: absolute;

  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
