body {
  font-family: $first-family;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $white-color;
}

/* Container */

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

/* Current page */
.current {
  color: $accent-color;

  &::after {
    position: absolute;
    bottom: 0;

    content: '';
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background: $accent-color;
  }
}
