body {
  font-family: $first-family;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: $white-color;
}

/* Container */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}
