/*----------------------HEADER--------------------------*/
header {
  border-bottom: 1px solid #ececec;

  /* Header-nav */
  .header-nav {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Site-nav  */
.menu-button {
  display: inline-flex;
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }
}

.icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu,
.icon-cross {
  fill: currentColor;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;

  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }
}
