/*----------------------HEADER--------------------------*/
header {
  border-bottom: 1px solid #ececec;

  /* Header-nav */
  .header-nav {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Site-nav  */
@media screen and (min-width: $mobile) {
  .site-nav,
  .contacts-nav {
    display: none;
  }
}

@media screen and (min-width: $tablet) {
  .site-nav {
    display: flex;
    margin-left: 81px;
  }

  .nav-item {
    position: relative;

    & + & {
      margin-left: 50px;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color $time-delay $time-fuction;

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  /* Contacts-nav */
  .contacts-nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;

    text-decoration: none;
    color: $secondary-text-color;
  }

  .contacts-item + .contacts-item {
    margin-top: 10px;
  }

  .contacts-link {
    display: flex;
    align-items: center;

    transition: color $time-delay $time-fuction;

    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: $secondary-text-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  .icon-envelope,
  .icon-smartphone {
    margin-right: 10px;

    fill: currentColor;
  }
}

@media screen and (min-width: $desktop) {
  .site-nav {
    margin-left: 85px;
  }

  /* Contacts-nav */
  .contacts-nav {
    flex-direction: initial;
  }

  .contacts-item + .contacts-item {
    margin-top: 0;
    margin-left: 30px;
  }
}

// ------------------ Mobile menu ------------------

.menu-button {
  display: inline-flex;
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 0;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu,
.icon-cross {
  fill: currentColor;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 400px;

  background-color: palegoldenrod;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }
}
