/*----------------------HEADER--------------------------*/
header {
  border-bottom: 1px solid #ececec;

  /* Header-nav */
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* Site-nav  */
.menu-button {
  display: inline-flex;
  margin-top: 22px;
  margin-bottom: 22px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu {
  display: flex;
  fill: currentColor;

  &:hover {
    color: $accent-color;
    cursor: pointer;
  }
}
