/*----------------------HEADER--------------------------*/
header {
  border-bottom: 1px solid #ececec;

  /* Header-nav */
  .header-nav {
    display: flex;
    align-items: center;
  }
}

/* Site-nav  */
.icon-menu {
  display: flex;

  margin-left: 276px;
  margin-top: 22px;
  margin-bottom: 22px;
  fill: currentColor;

  &:hover {
    color: $accent-color;
    cursor: pointer;
    
  }
}

