/*-------------------------PORTFOLIO--------------------*/

.portfolio {
  margin-top: 93px;
  margin-bottom: 94px;
}

/* Filters */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item + .filter-item {
  margin-left: 8px;
}

.filters button {
  padding: 6px 22px;

  transition: box-shadow $time-delay $time-fuction,
    color $time-delay $time-fuction, background-color $time-delay $time-fuction;

  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: $primary-text-color;
  background-color: $background-color;

  &:hover,
  &:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
      0 3px 1px 0 rgba(0, 0, 0, 0.1);
    color: $white-color;
    background-color: $accent-color;
  }
}

/* Portfolio-list */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 370px;
  height: 404px;
  margin-right: 45px;
  margin-bottom: 45px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(n + 7) {
    margin-bottom: 0;
  }
}

.portfolio-link {
  display: block;
  text-decoration: none;
  color: inherit;

  transition: box-shadow $time-delay $time-fuction;

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  }
}

.top-card {
  position: relative;

  overflow: hidden;
}

.portfolio-image {
  display: block;
}

.portfolio-overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;

  margin: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: opacity $time-delay $time-fuction,
    transform $time-delay $time-fuction;

  font-size: 18px;
  line-height: 28px;
  color: $white-color;
  background: rgba(33, 150, 243, 0.9);

  .portfolio-item:hover &,
  .portfolio-item:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.bottom-card {
  padding: 20px 24px;

  background-color: $white-color;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio-description {
  margin: 0;

  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
