/*----------------------STUDIO--------------------------*/
/* Section */
.section-title {
  margin-top: 0;
  margin-bottom: 60px;

  font-size: 36px;
  text-align: center;
}

/* Hero */
.hero {
  margin-bottom: 94px;

  text-align: center;
}

.overlay {
  max-width: 1600px;

  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url('../images/hero/hero-mobile.jpg');

  // MOBILE RETINA
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/hero/hero-mobile@2x.jpg');
  }

  // TABLET
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/hero/hero-tablet.jpg');
  }

  // TABLET RETINA
  @media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/hero/hero-tablet@2x.jpg');
  }

  // DESKTOP
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/hero/hero-desktop.jpg');
  }

  // DESKTOP RETINA
  @media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        н rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url('../images/hero/hero-desktop@2x.jpg');
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 200px;
  padding-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: $white-color;
}

.hero-button {
  @extend %buttons;

  padding: 10px 32px;
  margin-bottom: 200px;

  cursor: pointer;
  border: none;
}

/* Feature */
.feature {
  margin-top: 0;
  margin-bottom: 60px;
}

.feature-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.feature-item {
  @media screen and (min-width: $tablet) {
    width: calc(50% - 15px); // половина ширини мінус половина gap
  }

  @media screen and (min-width: $desktop) {
    width: 270px;
    height: 251px;

    & + & {
      margin-left: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;

  background-color: $background-color;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 10px;

  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.feature-description {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 24px;
  color: $secondary-text-color;
}

/* Our work */
.work {
  margin-top: 0;
  margin-bottom: 60px;

  @media (max-width: 1199px) {
    display: none;
  }
}

.work-list {
  display: flex;

  gap: 30px;
}

.work-item {
  position: relative;

  margin: 0;
  padding: 0;
}

.work-image {
  display: block;
}

.work-description {
  position: absolute;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: $white-color;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Our team */
.team {
  margin-bottom: 60px;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $background-color;
}

.team-list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.team-member {
  width: 100%;

  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  background-color: $white-color;

  @media screen and (min-width: $tablet) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 90px) / 4);
  }
}

.team-image {
  margin-bottom: 30px;

  display: block;
  width: 100%;
  height: auto;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team-description {
  margin-top: 0;
  margin-bottom: 16px;

  font-size: 16px;
  color: #757575;
  text-align: center;
}

.social-networks {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 24px;
}

.network-item + .network-item {
  margin-left: 10px;
}

.social-networks .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  transition: color $time-delay $time-fuction,
    background-color $time-delay $time-fuction;

  border-radius: 50%;
  color: $social-networks-color;
  background-color: $white-color;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $accent-color;
  }
}

.social-icon {
  fill: currentColor;
}

/* Regular customers */
.regular-customers {
  margin-bottom: 60px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.customers-item {
  display: flex;
  justify-content: center;

  width: calc((100% - 30px) / 2);

  @media screen and (min-width: $tablet) {
    width: calc((100% - 60px) / 3);
  }
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;

  transition: color $time-delay $time-fuction, border $time-delay $time-fuction;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: $social-networks-color;

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.customer-icon {
  fill: currentColor;
}
