/* Fonts */
$first-family: 'Roboto', sans-serif;
$second-family: 'Raleway', sans-serif;
$third-family: 'Racing Sans One', sans-serif;

/* Colors */
$primary-text-color: #212121;
$secondary-text-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$additional-black-color: #000000;
$background-color: #f5f4fa;
$footer-background: #2f303a;
$social-networks-color: #afb1b8;

/* Delay time */
$time-delay: 250ms;

/*  Function */
$time-fuction: cubic-bezier(0.4, 0, 0.2, 1);
